<section class="section-collection container">
    <h2 class="our-collection">Our collection</h2>
    <ul>
        <li class="list-vyshyvanka">
            <img src="./img/august-poltava.png" alt="">
            <h3 class="text-model-vyshyvanka">AUGUST Poltava women's blouseRING</h3>
            <p class="price-vyshyvanka">3300 UAH</p>
        </li>
        <li class="list-vyshyvanka">
            <div class="div-container-collection">
            <img src="./img/women-blouse.png" alt="">
            <h3 class="text-model-vyshyvanka">Women's blouse Gorgany</h3>
            <p class="price-vyshyvanka">3350 UAH</p>
            </div>
        </li>
        <li class="list-vyshyvanka">
            <img src="./img/mountain-men.png" alt="">
            <h3 class="text-model-vyshyvanka">Women's blouse Crimea</h3>
            <p class="price-vyshyvanka">4000 UAH</p>
        </li>
        <li class="list-vyshyvanka">
            <img src="./img/men-shirt.png" alt="">
            <h3 class="text-model-vyshyvanka">Men's shirt Verkhovina</h3>
            <p class="price-vyshyvanka">3100 UAH</p>
        </li>
        <li class="list-vyshyvanka">
            <img src="./img/women-blouse-crimeria.png" alt="">
            <h3 class="text-model-vyshyvanka">Mountain men's shirt</h3>
            <p class="price-vyshyvanka">3300 UAH</p>
        </li>
        <li class="list-vyshyvanka">
            <img src="./img/verknovina.png" alt="">
            <h3 class="text-model-vyshyvanka">Men's shirt Yasen</h3>
            <p class="price-vyshyvanka">1700 UAH</p>
        </li>
    </ul>
</section>