<!-- hero -->
<section class="container section-hero">
  <div class="hero-position">
    <div class="title-image-hero">
      <div>
        <h1 class="title-hero">
          Reviving the traditional
          <span class="Ukrainian">Ukrainian</span> artistry in every stitch.
        </h1>
        <button type="button" class="button-hero">
          <a href="#">
            <span class="order-span"> Order </span>
            <svg
              class="button-icon"
              width="26"
              height="10"
              aria-label="#vector"
            >
              <use href="/src/icons/icons-sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </button>
      </div>
      <div class="image-hero">
        <img
          srcset="
            /src/img/hero/girl-1280.jpg      392w,
            /src/img/hero/girl-1280-2x.jpg   784w,
            /src/img/hero/girl-mobile.jpg    335w,
            /src/img/hero/girl-mobile-2x.jpg 670w,
            /src/img/hero/girl-tab.jpg       413w,
            /src/img/hero/girl-tab-2x.jpg    826w
          "
          sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (min-width: 320px) 335px"
          src="/src/img/img/girl-1280.jpg"
          alt="girl"
        />
      </div>
    </div>
    <div class="container-star">
      <div class="block-star">
        <svg class="star-icon" width="52" height="51" aria-label="star">
          <use href="/src/icons/icons-sprite.svg#icon-star"></use>
        </svg>
        <div class="p-text">
          <p class="paragraf-star">all embroidery is made by hand</p>
        </div>
      </div>
      <img class="elips-shapka" src="/src/img/hero/shapka.png" alt="shapka" />
    </div>
  </div>
</section>
