<!-- hero -->
<section class="container section-hero">
  <div>
    <h1 class="title-hero">
      Reviving the traditional <span class="Ukrainian">Ukrainian</span> artistry
      in every stitch.
    </h1>
    <button type="button" class="button-hero">
      Order
      <svg class="button-icon" width="26" height="10" aria-label="#vector">
        <use href="./img/sym.svg#icon-vector"></use>
      </svg>
    </button>
  </div>
  <div class="image-hero">
    <img
      srcset="
        ../img/hero/girl-1280.jpg      392w,
        ../img/hero/girl-1280-2x.jpg   784w,
        ../img/hero/girl-mobile.jpg    335w,
        ../img/hero/girl-mobile-2x.jpg 670w,
        ../img/hero/girl-tab.jpg       413w,
        ../img/hero/girl-tab-2x.jpg    826w
      "
      sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (min-width: 320px) 335px"
      src="../../img/girl-1280.jpg"
      alt="girl"
    />
  </div>
  <div class="container-star">
    <img class="img-star" src="../../img/hero/star.jpg" alt="star" />
    <p class="paragraf-star">all embroidery is made by hand</p>
  </div>
  <div class="shapka">
    <img class="elips-shapka" src="../../img/hero/shapka.png" alt="shapka" />
  </div>
</section>
