<!-- hero -->
<section>
  <img
    srcset="
      ../img/girl-1280.jpg,
      ../img/girl-1280-2x.jpg,
      ../img/girl-mobile.jpg,
      ../img/girl-mobile-2x.jpg,
      ../img/girl-tab.jpg,
      ../img/girl-tab-2x.jpg
    "
    src="../img/girl-1280.jpg"
    alt="girl"
  />
  <h1 class="title-hero">
    Reviving the traditional Ukrainian artistry in every stitch.
  </h1>
  <button type="button" class="button">
    Order<span>
      <svg class="button-icon" width="26" height="10" aria-label="#vector">
        <use href="./img/icons.svg#icon-vector"></use></svg
    ></span>
  </button>
</section>
