/* Медіазапити залишаємо як є */
@media (min-width: 320px) and (max-width: 374px) {
}

/*===========PHONE==================*/
.about-us {
  background: #1c2225;

}

.container-about {
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title-about {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.paragraph {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.paragraph-two {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  width: 100%;
  height: auto;
}
.about-image {
  border-radius: 4px;
  width: 335px;
  height: 499px;
  margin-top: 50px;
}
.about-us {
  background-image: url(../img/about/elements.png);
  padding-bottom: 80px;
  background-position: right bottom 18px;
  background-repeat: no-repeat;
}

/*===============TABLET================*/

@media screen and (min-width: 768px) {
  .container-about {
    width: 704px;

    
  }
}
.about-image {
  margin-top: 40px;
}

/*==========DESKTOP==============*/



.paragraph {
  color: rgba(252, 249, 249, 0.4);

  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
.paragraph-two {
  color: rgba(252, 249, 249, 0.4);

  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
.about-image {
  width: 594px;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }
}
