.section-collection {
  padding-top: 18px;
  padding-bottom: 40px;
  position: relative;
}

.background-image-collection {
  background-image: url(../img/collection/ornament.png);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 254px;
}

.our-collection {
  color: #fcf9f9;
  font-size: 44px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1.32px;
  text-align: center;
  margin-bottom: 40px;
}

.text-model-vyshyvanka {
  overflow: hidden;
  color: #fcf9f9;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 20px;
}
.price-vyshyvanka {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.7px;
  margin-top: 8px;
}

/* MOBILE */

@media screen and (min-width: 768px) {
  .section-collection {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .list-item-collection {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list-vyshyvanka {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .section-collection {
    padding-top: 70px;
    padding-bottom: 75px;
  }
  .list-vyshyvanka {
    width: calc((100% - 80px) / 3);
  }
  .container {
    width: 1280px;
  }
}
